.category-page {
  .post-btn {
    background: #a00;
    text-align: center;
    display: block;
    padding: 0 1em;
    @include trailer(1);
    @include adjust-font-size-to(22px,2);
    &:hover {
      text-decoration: none;
    }
  }
}


.category-header {
  @include pie-clearfix;
  $border-bottom: 1px;
  $offset: 5px;
  padding-bottom: rhythm(3/4) - $offset;
  border-bottom: $border-bottom solid #ccc;
  margin-bottom: rhythm(3/4) - $border-bottom + $offset;
  .search-bar {
    @include trailer(0.5);
    input {
      width: 100%;
    }
    @include at-breakpoint($ipad) {
      margin-bottom: 0;
      float: left;
      width: columns(4);
    }
    @include at-breakpoint($desktop) {
      $gutter-width: 2em;
      width: columns(3, 9);
    }
  }
}

.category-toolbar {
  @include at-breakpoint($ipad) {
    margin-top: 2px;
    float: right;
  }
  .pills {
    background: #eeeeef;
    @include border-radius(4px);
    border: 1px solid #ccc;
    padding: 1px;
    margin-bottom: 6px;
    @include at-breakpoint($ipad) {
      float: left;
      margin: 0;
      margin-left: 12px;
    }
    li {
      $border-radius: 2px;
      background: none;
      a {
        @include adjust-font-size-to(13px);
        padding: 0 13px;
        @include border-radius(0);
        background: white;
        color: #999;
      }
      &:first-child a {
        @include border-radius($border-radius 0 0 $border-radius);
      }
      &:last-child a {
        @include border-radius(0 $border-radius $border-radius 0);
      }
      &.active a {
        background: #ccc;
        color: $color-black;
      }
    }
  }
}

.category-petition-list {
  @include at-breakpoint($ipad) {
    li {
      @include span-columns(4);
      @include nth-omega(2n);
    }
  }
  @include at-breakpoint($desktop) {
    li {
      $gutter-width   : 2em;
      @include span-columns(3,9);
      @include remove-nth-omega(2n,child,9);
      @include nth-omega(3n);
    }
  }

}

.category-petition-list-pagination {
  clear: both;
  @include padding-leader(1.5);
  @include trailer(2);
}


// category-sidebar

.category-sidebar-title {
  @include adjust-font-size-to(24px,1);
  @include trailer(1);
}

.category-sidebar-petition-list {
  @include pie-clearfix;
  > li {
    @include at-breakpoint($ipad) {
      @include span-columns(4);
      @include nth-omega(2n);
    }

    @include at-breakpoint($desktop) {
      @include span-columns(4,4);
      .petition-item-title {
        white-space: normal;
      }
    }
  }

}
