.petition-success-message {
  @include leader(2);
  @include trailer(2);
  text-align: center;
  @include at-breakpoint($ipad) {
    @include leader(4);

  }
}

.petition-success-title {
  @include adjust-font-size-to(32px);
  line-height: 32px;
  @include trailer(.5);
}

.petition-success-sub-title {
  @include trailer(.5);
}

.petition-social-links {

  .btn {
    padding: 5px 5px;
    width: 100%;
    @include at-breakpoint($ipad) {
      padding: 5px 10px;
      width: auto;
      margin: 0 5px;
    }
  }

}



.other-petition-list {
  @include pie-clearfix;
  @include trailer(2);
}

.other-petition-list-title {
  @include trailer(.5);
}

.other-petition-list-item {
  @include at-breakpoint($ipad) {
    @include span-columns(4);
    @include nth-omega(2n);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(3, 12);
    @include remove-nth-omega(2n);
    @include nth-omega(4n);
  }
}
