// typography
@import "typography";

// btn
$btn-color: #333 !default;
$btn-background: #D8D8D8 !default;
$btn-font-size: 16px !default;
$btn-active: #69c;
$btn-radius: 3px !default;
$btn-side-length: 2px !default;
$btn-side-color: #b5b5b5 !default;
@import "btn";

// btn-group
$btn-group-split-color: #b5b5b5 !default;
$btn-group-split-style: solid !default;
$btn-group-split-width: 1px !default;

@import "btn-group";

// pagination
@import "pagination";

// alter
@import "alert";

// form
@import "forms";
@import "input-placeholder-color";

// toolbar


// dropdown
@import "dropdown";


// component-animations
@import "component-animations";
