.dropdown {
  display: block;
  position: relative;
  &.open {
    .dropdown-btn {
      background-color: #eeeeef;
    }
    .dropdown-menu {
      background-color: #eeeeef;
      display: block; // to show
    }
  }
}

.dropdown-btn {
  outline: none 0 !important;
  @include pie-clearfix;
  display: block;
  padding: 6px 1em;
  text-align: right;
  img {
    // display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-right: 6px;
  }
  .dropdown-title {
    float: left;
    margin-right: 6px;
    text-align: left;
    &:after {
      content: "";
      // float: left;
      display: inline-block;
      vertical-align: middle;
      width: 0px;
      height: 0px;
      margin-left: 6px;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #ccc transparent transparent transparent;
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 150;
  display: none;
  min-width: 120%;
  padding: 12px 0;
  float: left;
  li {
    @include adjust-font-size-to(14px,1);
    & > a {
      display: block;
      padding: 6px 1em;
      white-space: nowrap;
      &:hover {
        background-color: black;
        color: white;
        text-decoration: none;
      }
    }
    &.dropdown-menu-list-divider {
      margin: 6px 0;
      height: 1px;
      background-color: black;
    }
  }
  &.pull-right {
    left: auto;
    right: 0;
  }
}


