body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  // font-family: "Helvetica",
  //              "Arial",
  //              sans-serif;
  font-weight: normal;
  -webkit-text-size-adjust: none;
  // -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #fdfdfd;
  color: #444;
}



#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to(32px);
}
h2 {
  @include adjust-font-size-to(24px);
}

a {
  @include link-colors(#4183c4);
  @include hover-link;
}

ul, p {
  @include reset-box-model;
}

ul {
  // list-style: none;
  // font-size: 14px;
  list-style: none;
  // @include leader(1);
  // @include trailer(1);
  list-style-position: inside;
}

p {
  // font-size: 14px;
  @include trailer(1);
}

img {
  display: block;
  max-width: 100%;
  @include trailer(1);
}

// a:active {
//   outline: none;
//   outline: 0;
// }
