defaults: &defaults
  sentry_dsn: "https://059e64ea43754095ae80ad48a26cb376:4793dba2489f4e38bea9f1bac1864693@app.getsentry.com/12510"
# --- venus:omniauth START ---
  providers: ["facebook", "google_oauth2"]
  facebook_token: "267188576687915"
  facebook_secret: "84f72292e1f6b299f4a668f12ed1a7f2"
  facebook_auth_options:
    :scope: "email"
  google_oauth2_token: "435467283040.apps.googleusercontent.com"
  google_oauth2_secret: "mbH4YxQuRRakaKDyyxGkwVTA"
  google_oauth2_auth_options:
    :scope: "userinfo.email,userinfo.profile"
# --- venus:omniauth END ---
  sidekiq: 
    redis: "redis://127.0.0.1:6379/0"
    namespace: "fight4"
  redis: 
    host: localhost
    port: 6379
    db: 0
  aws_host_carrierwave: "assets-develop.fight4.us.s3-website-ap-northeast-1.amazonaws.com"
  aws_region_carrierwave: "ap-northeast-1"
  aws_bucket_carrierwave: "assets-develop.fight4.us"
  aws_access_key_id: "AKIAIPQAGTLTTUBCQ2IQ"
  aws_secret_access_key: "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"
  aws_ses_render_mail: "no-reply@fight4.tw"
  app_name: "fight4"
  host: "localhost"
  admin_emails: 
    - ""
  google_analytics_key: ""

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  host: "fight4.tw"
  aws_host_carrierwave: "assets.fight4.tw.s3-website-ap-northeast-1.amazonaws.com"
  aws_bucket_carrierwave: "assets.fight4.tw"

staging:
  <<: *defaults
  host: "fight4.us"
  aws_host_carrierwave: "assets.fight4.us.s3-website-ap-northeast-1.amazonaws.com"
  aws_bucket_carrierwave: "assets.fight4.us"
  providers: ["facebook", "google_oauth2"]
  facebook_token: "290664697741851"
  facebook_secret: "e8d8e56df05787feeac7d61403ba9e7a"
  facebook_auth_options:
    :scope: "email"
  google_oauth2_token: "435467283040-ci0sfutqp88gj9n59gpat1pdtcmr7chc.apps.googleusercontent.com"
  google_oauth2_secret: "duVpqzu2YHka1oUIVI7A9HRz"
  google_oauth2_auth_options:
    :scope: "userinfo.email,userinfo.profile"

