defaults: &defaults
  aws_host_carrierwave: ""

  aws_region_carrierwave: ""

  aws_bucket_carrierwave: ""

  aws_access_key_id: ""
  aws_secret_access_key: ""
# --- venus:omniauth START ---
  providers: ["facebook"]
  facebook_token: "267188576687915"
  facebook_secret: "84f72292e1f6b299f4a668f12ed1a7f2"
  facebook_auth_options:
    :scope: "email"
# --- venus:omniauth END ---

  app_name: ""
  host: "localhost"
  admin_emails: 
    - ""
  google_analytics_key: ""

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults


