= f.input :petition_id, :as => :select, :collection => Petition.all.map{ |p| [p.name, p.id] }, :include_blank => false, :label => '所屬連署'
= f.input :happened_at, :label => '發生時間', :as => :string, :input_html => { :class => :datetimepicker }
= f.input :title, :label => "時間軸標題"
= f.input :content, :label => "時間軸內文"

.form-actions
  = f.submit :value => "送出", :disable_with => "送出中", :class => "btn btn-primary"
  = link_to "取消", admin_petition_timelines_url(@petition), :class => "btn"