%meta{ :content => "", :property => "og:title" }
%meta{ :content => "", :property => "og:type" }
%meta{ :content => "", :property => "og:url" }
%meta{ :content => "", :property => "og:image" }
%meta{ :content => "", :property => "og:site_name" }
%meta{ :content => "", :property => "fb:admins" }
